{% extends 'core_app/base.html' %}
{% block content %}

<div class="profile">
    <img src="https://picsum.photos/200" alt="photo" />
</div>

<div class="aboutme">
    <h1>Hello,</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, vero deserunt. Animi commodi placeat eius ullam rem expedita magni labore, consequatur quidem, necessitatibus, sed doloribus. Atque dolor, suscipit maiores ipsa non doloribus itaque corrupti quos, eius debitis dolorem assumenda vitae, sint temporibus repellendus esse molestias? Placeat atque cupiditate harum rerum!</p>
</div>

{% endblock %}